:root{
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #D0082C;
  --color-red-hover: #DA3739;
  --color-gray: #DEDCE7;
  --color-gray-shadow: #EBE6E6;
  --color-gray-light: #EFEEEE;
  --color-gray-middle: #7D7C85;
  --color-gray-dark: #302D3D;
  --color-gray-dark-500: rgba(48, 45, 61, .5);
  --color-green: #30B54D;
  --color-green-hover: #32c953;
  --color-blue: #4B6FCB;
  --color-blue-hover: #567ee4;
  --color-orange: #FF8D3B;
  --color-transparent: rgba(255, 255, 255, 0) 
}

@mixin font14($font-weight) {
  font-size: 14px;
  line-height: 24px;
  font-weight: $font-weight;
}
@mixin font18($font-weight) {
  font-size: 18px;
  line-height: 28px;
  font-weight: $font-weight;
}
@mixin font20($font-weight) {
  font-size: 20px;
  line-height: 24px;
  font-weight: $font-weight;
}
@mixin font24($font-weight) {
  font-size: 24px;
  line-height: 30px;
  font-weight: $font-weight;
}
@mixin font50($font-weight) {
  font-size: 50px;
  line-height: 50px;
  font-weight: $font-weight;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 576px) {
    font-size: 30px;
  }
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}
@mixin font60($font-weight) {
  font-size: 60px;
  line-height: 60px;
  font-weight: $font-weight;
  @media screen and (max-width: 768px) {
    font-size: 50px;
  }
  @media screen and (max-width: 576px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
}
