html{
  width: 100%;
}
body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  overflow-x: hidden;
  *{
    box-sizing: border-box;
    -webkit-tap-highlight-color: var(--color-transparent);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin: 0;
    padding: 0;
  }
  ul,
  ol{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  img{
    display: block;
    width: 100%;
  }
  a,
  input,
  textarea,
  select,
  button{
    outline: 0;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: var(--color-transparent);
    transition: all .35s ease;
    cursor: pointer;
  }
  p{
    margin: 0;
    padding: 0;
  }
  svg{
    display: block;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border: 0;
    border-radius: 10px;
    background: var(--color-red);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--color-white);
    text-decoration: none;
    transition: all .35s ease;
    &:hover{
      background: var(--color-red-hover);
      color: var(--color-white);
    }
  }
  .root{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: var(--app-height);
    background: var(--color-gray-lightest);
    .wrap{
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 20px;
      @media screen and (max-width: 700px) {
        padding: 0 10px;
      }
    }
    main.container{
      flex: 1 1 auto;
      width: 100%;
      padding-bottom: 50px;
      @media screen and (max-width: 768px) {
        padding-bottom: 24px;
      }
      @media screen and (max-width: 576px) {
        padding-bottom: 14px;
      }
      .ReactCollapse--collapse {
        transition: height 500ms;
      }
    }
  }
}