.topbar{
  display: flex;
  align-items: center;
  padding: 30px 0;
  @media screen and (max-width: 700px) {
    padding: 14px 0;
  }
  a{
    font-size: 16px;
    color: var(--color-black);
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
    &:hover{
      text-decoration: none;
    }
    &.back{
      display: flex;
      align-items: center;
      svg{
        transform: rotate(90deg);
        @media screen and (max-width: 576px) {
          max-width: 10px;
          min-width: 10px;
          height: 10px;
        }
      }
      span{
        display: block;
        padding: 0 0 0 10px;
        @media screen and (max-width: 480px) {
          padding: 0 0 0 6px;
        }
      }
    }
    &.data{
      display: block;
      margin: 0 0 0 26px;
    }
  }

}
.pagetitle{
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (max-width: 480px) {
    display: block;
  }
}
.subtitle{
  display: flex;
  align-items: flex-end;
  padding: 20px 0 0;
  @media screen and (max-width: 768px) {
    padding: 14px 0 0;
  }
  span{
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-gray-middle);
  }
  a{
    display: block;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: var(--color-black);
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 16px;
    }
    &:hover{
      text-decoration: none;
    }
  }
}
.boxtitle{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-gray-dark);
  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }
}
h1,
.h1{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--color-black);
  @media screen and (max-width: 920px) {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.progressbar{
  display: flex;
  align-items: center;
  height: 18px;
  @media screen and (max-width: 480px) {
    margin: 10px 0 0!important;
  }
  &.red{
    span{
      &:first-child{
        span{
          background: var(--color-red);
        }
      }
    }
  }
  &.green{
    span{
      &:first-child{
        span{
          background: var(--color-green);
        }
      }
    }
  }
  &.orange{
    span{
      &:first-child{
        span{
          background: var(--color-orange);
        }
      }
    }
  }
  span{
    &:first-child{
      position: relative;
      width: 110px;
      height: 100%;
      border-radius: 5px;
      background: var(--color-gray-progress);
      overflow: hidden;
      span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
    &:last-child{
      padding: 0 0 0 12px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.badge{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-white);
  text-transform: uppercase;
  @media screen and (max-width: 480px) {
    margin: 10px 0 0!important;
  }
  &.green{
    background: var(--color-green);
  }
  &.orange{
    background: var(--color-orange);
  }
  &.red{
    background: var(--color-red);
  }
  &.blue{
    background: var(--color-blue);
  }
}
.boxshadow{
  position: relative;
  width: 100%;
  padding: 38px 40px;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 4px 4px 15px var(--color-gray-shadow);
  @media screen and (max-width: 920px) {
    padding: 30px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 20px 0 0;
    padding: 20px;
  }
  @media screen and (max-width: 700px) {
    margin: 14px 0 0;
    padding: 18px;
  }
  @media screen and (max-width: 576px) {
    width: calc(100% + 20px)!important;
    margin: 0 0 0 -10px!important;
    border-radius: 0;
  }
}
.flexcontent{
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  .main{
    flex: 1 1 auto;
  }
  .teacher{
    max-width: 320px;
    min-width: 320px;
    margin: 0 0 0 40px;
    @media screen and (max-width: 920px) {
      margin: 0 0 0 20px;
    }
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      min-width: 100%;
      margin: 0;
    }
    @media screen and (max-width: 700px) {
      padding: 18px;
    }
    @media screen and (max-width: 576px) {
      max-width: calc(100% + 20px);
      min-width: calc(100% + 20px);
      margin: 0 0 14px -10px!important;
      border-radius: 0;
    }
    @media screen and (max-width: 480px) {
      display: block;
    }
    .desc{
      display: flex;
      align-items: flex-start;
      padding: 5px 0 0;
      @media screen and (max-width: 768px) {
        display: none;
      }
      span{
        display: block;
        width: 160px;
        font-size: 14px;
        line-height: 17px;
      }
      a{
        display: block;
        width: 14px;
        height: 14px;
        margin: 4px 0 0;
        &:hover{
          color: var(--color-red);
        }
        svg{
          width: 100%;
          height: 100%;
        }
      }
    }
    .user{
      display: flex;
      align-items: flex-start;
      padding: 26px 0 0;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
      @media screen and (max-width: 480px) {
        padding: 10px 0 0;
      }
      .ava{
        max-width: 36px;
        min-width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .name{
        flex: 1 1 auto;
        padding: 0 0 0 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        @media screen and (max-width: 768px) {
          max-width: 200px;
          min-width: 200px;
        }
        @media screen and (max-width: 480px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
svg{
  &.arrow{
    max-width: 14px;
    min-width: 14px;
    height: 14px;
  }
  &.module_check_round{
    max-width: 24px;
    min-width: 24px;
    height: 24px;
    color: var(--color-green);
  }
}