.container.module{
  .flexcontent{
    .main{
      width: 100%;
      .pagetitle{
        @media screen and (max-width: 768px) {
          padding: 40px 0;
        }
        @media screen and (max-width: 700px) {
          padding: 30px 0;
        }
        @media screen and (max-width: 576px) {
          padding: 14px 0 24px;
        }
        @media screen and (max-width: 480px) {
          display: block;
        }
        .progressbar{
          margin: 0 0 0 40px;
        }
      }
      .info{
        padding: 30px 0 0;
        @media screen and (max-width: 768px) {
          margin: -20px 0 0;
          padding: 0;
        }
        @media screen and (max-width: 576px) {
          margin: 0;
        }
        button.boxshadow{
          display: flex;
          justify-content: flex-start;
          @media screen and (max-width: 700px) {
            padding: 18px;
          }
          &.active{
            svg.arrow{
              transform: rotate(-180deg);
            }
          }
          span{
            display: block;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
          }
          svg{
            &.module_check_round{
              max-width: 24px;
              min-width: 24px;
              height: 24px;
              margin: 0 16px 0 0;
            }
            &.arrow{
              position: absolute;
              top: 50%;
              right: 40px;
              margin: -7px 0 0;
              transform: rotate(0);
              transition: all .35s ease;
              @media screen and (max-width: 920px) {
                right: 30px;
              }
              @media screen and (max-width: 768px) {
                right: 20px;
              }
              @media screen and (max-width: 700px) {
                right: 18px;
              }
            }
          }
        }
        .ReactCollapse--collapse{
          transition: all .35s ease;
          .boxshadow{
            margin: 20px 0 0;
            ul.items{
              padding: 0 0 14px;
              &:last-child{
                padding: 0;
              }
              li{
                padding: 0 0 14px;
                &:last-child{
                  padding: 0;
                }
                a{
                  display: flex;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 20px;
                  color: var(--color-black);
                  &:hover{
                    text-decoration: none;
                  }
                  svg{
                    max-width: 24px;
                    min-width: 24px;
                    height: 24px;
                    margin: 0 16px 0 0;
                  }
                }
                ul{
                  padding: 20px 0 0 20px;
                  li{
                    padding: 0 0 14px;
                  }
                }
              }
            }
          }
        }
      }
      .result{
        padding: 60px 0 0;
        @media screen and (max-width: 768px) {
          padding: 40px 0 0;
        }
        @media screen and (max-width: 480px) {
          padding: 20px 0 0;
        }
        .label{
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
        }
        a{
          width: 200px;
          height: 48px;
          margin: 20px 0 0;
          border-radius: 5px;
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}