.container.project{
  .flexcontent{
    .main{
      .pagetitle{
        .badge{
          margin: 2px 0 0 auto;
        } 
      }
      .body{
        padding: 40px 0;
        border-bottom: 1px solid var(--color-gray);
        @media screen and (max-width: 768px) {
          padding: 20px 0;
        }
        .title{
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          @media screen and (max-width: 768px) {
            font-size: 16px;
          }
        }
        .text{
          padding: 20px 0 0;
          @media screen and (max-width: 768px) {
            padding: 14px 0 0;
            font-size: 14px;
          }
          p{
            padding: 0 0 14px;
            @media screen and (max-width: 768px) {
              padding: 0 0 10px;
            }
            &:last-child{
              padding: 0;
            }
          } 
        }
      }
      ul.steps{
        padding: 40px 0 0;
        @media screen and (max-width: 768px) {
          padding: 20px 0 0;
        }
        li{
          display: flex;
          align-items: center;
          padding: 0 0 18px;
          @media screen and (max-width: 768px) {
            padding: 0 0 10px;
          }
          &:last-child{
            padding: 0;
          }
          a{
            display: flex;
            align-items: center;
            margin: 0 14px 0 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            color: var(--color-black);
            white-space: nowrap;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
            &:hover{
              text-decoration: none;
            }
            span{
              display: block;
              &:first-child{
                margin: 0 14px 0 0;
              }
              &.status{
                font-size: 12px;
                line-height: 15px;
                color: var(--color-gray-middle);
              }
            }
          }
          svg{
            max-width: 24px;
            min-width: 24px;
            height: 24px;
            margin: 0 6px 0 0;
            color: var(--color-green);
            @media screen and (max-width: 480px) {
              max-width: 20px;
              min-width: 20px;
              height: 20px;
            }
          }
          span{
            display: block;
            &.access{
              margin: 0 14px 0 0;
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              color: var(--color-gray-middle);
              text-decoration: underline;
              white-space: nowrap;
              @media screen and (max-width: 480px) {
                font-size: 14px;
              }
            }
            &.dark{
              font-size: 12px;
              line-height: 15px;
              color: var(--color-gray-dark);
            }
            &.gray{
              font-size: 12px;
              line-height: 15px;
              color: var(--color-gray-middle);
            }
          }
        }
      }
    }
  }
}