.container.profile{
  .userdata{
    max-width: 250px;
    margin: 0 auto;
    padding: 60px 0 0;
    @media screen and (max-width: 768px) {
      padding: 50px 0 0;
    }
    @media screen and (max-width: 576px) {
      padding: 40px 0 0;
    }
    @media screen and (max-width: 480px) {
      max-width: 100%;
      padding: 30px 0 0;
    }
    .photo{
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto 20px;
      border-radius: 50%;
      overflow: hidden;
      input{
        display: none;
      }
      .loader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-red);
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease;
        &.active{
          visibility: visible;
          opacity: 1;
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 40px;
          height: 40px;
          margin: -20px 0 0 -20px;
          border-radius: 50%;
          border: 2px solid var(--color-transparent);
          border-color: var(--color-white) var(--color-transparent) var(--color-white) var(--color-transparent);
          animation: formloader 1.2s linear infinite;
          content: "";
        }
      }
      svg{
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      img{
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .filechange{
      margin: 0 auto;
      text-align: center;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      fieldset{
        position: relative;
        display: block;
        width: 100%;
        padding: 0 0 24px;
        border: 0;
        &.mt{
          margin-top: 38px;
        }
        input{
          display: block;
          width: 100%;
          height: 36px;
          padding: 0 10px;
          border: 1px solid var(--color-gray-light);
          border-radius: 5px;
          font-size: 13px;
          color: var(--color-gray-dark);
          &::placeholder{
            color: var(--color-gray-middle);
          }
          &.error{
            border-color: var(--color-red);
          }
        }
        span.error{
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          padding: 0 0 8px;
          font-size: 13px;
          line-height: 13px;
          color: var(--color-red);
        }
      }
      .ReactCollapse--collapse{
        width: 100%;
        fieldset{
          &:first-child{
            margin-top: 20px;
          }
        }
      }
      button{
        margin: 18px 0 0;
        font-size: 16px;
        line-height: 20px;
        text-decoration: underline;
        text-underline-offset: 4px;
        &:hover{
          text-decoration: none;
        }
        &.btn{
          width: 100%;
          height: 48px;
          border-radius: 5px;
          margin: 38px 0 0;
          text-decoration: none;
        }
      }
      span.errorform{
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        padding: 10px 0 0;
        font-size: 15px;
        line-height: 15px;
        color: var(--color-red);
        text-align: center;
      }
    }
  }
}